header {
  position: relative;
  width: 100%;
  height: 75vh;
  padding-top: 50px;
  background: $fog-white;
  @include backg-img-cover('http://miriadna.com/desctopwalls/images/max/The-marsh.jpg');
  background-position: right;
  background-position: bottom;
  text-align: center;
  nav {
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    a {
      display: inline-block;
      padding: 20px 5%;
      text-decoration: none;
      color: $fog-white;
      transition: background-color 1s;
      &:hover {
        background: rgba(0, 0, 0, 1);
      transition: background-color 1s;
      }
    }
  }
  .blog-title {
    margin: 20% auto 0 auto;
    @media screen and(max-height: 1024px) {
      margin: 10% auto 0 auto;
    }
    @media screen and(max-height: 640px) {
      margin: 5% auto 0 auto;
    }
  }
}
