a {
  text-decoration: none;
}

.post-title {
  color: $black;
  &:hover {
    color: #237;
  }
}

.blog-text {
  p {
    line-height: 2em;
  }
}

.comments {
  p,
  span {
    font-size: 0.8em;
  }
}
