//Colors
$black: #000;
$fog-white: #ccc;
$mushroom: #A08171;
$bogwater: #A08D71;
$murkyblue: #4C5A68;
$likengreen: #4B6A60;

//Fonts
$cantarell-stack: 'Cantarell', sans-serif;


//Borders
$sb-topborder: 10px solid;
